{% extends 'base.html' %}

{% block body %}
<div class="container">
    <h1 class="mb-4">Admin Dashboard</h1>
    <form method="POST" action="{{ url_for('admin_routes.admin_control') }}">
        <button type="submit" name="action" onclick="switchPause(this)" value="pause" class="btn btn-primary">Pause</button>
        <button type="submit" name="action" value="skip" class="btn btn-primary">Skip</button>
        <button type="submit" name="action" value="clear_queue" class="btn btn-danger">Clear Queue</button>
    </form>
</div>

<script>
function switchPause(button) {
    button.innerHTML = 'Unpause';
    button.form.submit();
}
</sript>
{% endblock %}
