<!doctype html>
<html>
  <head>
    <title>YouTube Queue</title>
  </head>
  <body>
    <input id="ytInput" placeholder="Paste YouTube link" style="width: 300px" />
    <button onclick="addVideo(this)">Add</button>

    <h3>Now Playing:</h3>
    <h3 id="current-song"></h3>

    <h3>Queue:</h3>
    <ul id="queue"></ul>

    <script src="https://cdn.socket.io/4.5.4/socket.io.min.js"></script>
    <script>
      const socket = io();

      function extractVideoId(url) {
        let match = url.match(/(?:v=|youtu\.be\/)([a-zA-Z0-9_-]{11})/);
        return match ? match[1] : null;
      }

      function addVideo() {
        button.disabled = true;
        button.innerHTML =
          'Adding... <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>';
        button.form.submit();
        const url = document.getElementById("ytInput").value;
        const id = extractVideoId(url);
        if (id) socket.emit("add_video", id);
      }

      socket.on("queue_updated", (queue) => {
        const ul = document.getElementById("queue");
        ul.innerHTML = "";
        queue.forEach((title) => {
          let li = document.createElement("li");
          li.textContent = title;
          ul.appendChild(li);
        });
      });
    </script>
  </body>
</html>
